[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylisten = {editable = true, git = "https://github.com/deeuu/pylisten"}
untwist = {editable = true, ref = "dev", git = "https://github.com/IoSR-Surrey/untwist"}
pandas = "*"
seaborn = "*"
mir-eval = "*"
cython = "*"

[dev-packages]

[requires]
python_version = "3.6"
